@media only screen and (max-width: 500px) {
  nav {
    display: none;
  }
  .project {
    display: none;
  }
  .welcome {
    font-size: 40px;
  }
  .name {
    font-size: 54px;
  }
  .developer {
    font-size: 16px;
  }
  .languages {
    font-size: 16px;
  }
  .cv-download {
    height: 35px;
    width: 125px;
    font-size: 13px;
  }
  #github {
    font-size: 26px;
    margin-top: 5px;
  }
  #facebook {
    font-size: 26px;
    margin-top: 5px;
  }
  .project {
    display: none;
  }
  footer .skills {
    display: flex;
    flex-direction: column;
  }
  #skills {
    height: 550px;
  }
}
@media only screen and (max-width: 650px) {
    footer .skills .card-skill {
      font-size: 22px;
      margin-right: 25px;
      margin-left: 25px;
    }
    footer .skills p {
      font-size: 22px;
    }
    footer .skills i {
      font-size: 56px;
    }
}

@media only screen and (max-width: 850px) {
  .image {
    display: none;
  }
  .name {
    font-size: 68px;
  }
  .project {
    display: none;
  }
  footer .container-about h1 {
    font-size: 16px;
  }
  footer .container-about p {
    font-size: 14px;
  }
  
}

